.error-message {
    background-color: rgba(167, 40, 40, 0.1);
    border: 1px solid rgba(167, 40, 40, 0.2);
    color: #b72727;
    padding: 12px 15px;
    border-radius: var(--border-radius);
    margin-top: 15px;
    display: block;
}


